<html>
  <head>
    <title>Playing DOM</title>
    <script id="constructor" type="text/javascript" src="/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css"></link>
  </head>
  <body>
    <noscript>Sorry, your browser does not support JavaScript!</noscript>
    <form>
      <fieldset>
        <label for="password">Password</label>
        <input type="text"
               id="password"/>
      </fieldset>
      <input type="submit"
             value="Submit"/>
    </form>
  </body>
  <script type="text/javascript">
    setInterval(function(){debugger;}, 1);
  </script>
</html>
